# Gitignore
# ---------


# Project Files (Eclipse, Inltellij)
.project
.settings
.classpath
.idea/*
*.iml
*.classpath


# Maven Target
/target/

# Javadoc
/javadoc/

# Log
log.txt

# Builds
*.jar
*.MF
