# Gitignore
# ---------


# Project Files (Eclipse, Inltellij)
.project
.settings
.classpath
*.classpath
.idea/*
*.iml


# Maven Target
/target/

# Javadoc
/javadoc/

# Log
log.txt

# Builds
*.jar
*.MF
